<header>
</header>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" >Kiné-web</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Accueil</a>
          <a class="nav-item nav-link" routerLink="/rdv" routerLinkActive="active">Rendez-vous</a>
          <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
      <div class="navbar-nav pull-right">
        <a class="nav-item nav-link" routerLink="/account" routerLinkActive="active">Mon Compte</a>
        <a class="nav-item nav-link pointer" (click)="logout()" *ngIf="showLogoutBtn()">Déconnexion</a>
      </div>
    </div>
</nav>

<div class="container-fluid kine-web-container">
  <router-outlet></router-outlet>
</div>

<footer>
</footer>
